.container-fluid {
    background-color: rgb(213, 233, 236);
    width: 90%;
    max-width: 1600px;
    /* Дополнительное ограничение максимальной ширины */
    margin: 0 auto;
    /* Центрирование контейнера на странице */
            
     
}

.container-fluid2 {
    background-color: rgb(213, 233, 236);
    width: 90%;
    max-width: 1400px;
    /* Дополнительное ограничение максимальной ширины */
    margin: 0 auto;
    /* Центрирование контейнера на странице */
}

.container2 {
    height: 450px;
    width: auto;
    overflow: hidden; /* Обрезать изображения, чтобы они вписывались в контейнер */
  }
  /* Чтобы изображение заняло всю ширину контейнера, при этом сохраняя пропорции */
  

.container2 img {
    height: 100%;
    /* Чтобы изображение занимало всю высоту контейнера */
    object-fit: cover;
    /* Заполнение контейнера без искажения изображения */
}



.img-container img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}

.card {

    width: 90%;
        max-width: 1200px;
        /* Дополнительное ограничение максимальной ширины */
        margin: 0 auto;
        /* Центрирование контейнера на странице */
}

.btn.btn-primary {
    background-color: rgb(149, 201, 201);
}
